@import 'bootstrap/dist/css/bootstrap';

.new_user {
  margin-top: 60px !important;
}

.header {
  margin-bottom: -20px;
  margin-top: 50px;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0px;
}

.no-left-padding {
  padding-left: 0px;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.user-name {
  margin-top: 3.5%;
  padding-right: 7px;
  color: white;
  font-weight: bold;
}